
body{
    background-color:#ffff;
    color: #ebebf1;

}

.img-style{
    width: 350px;
    height: 200px;
    margin-bottom: 10px;
    border:5px solid #7fffd4;
    border-style:dashed;
  }
  
  #interesting-fact{
    border:5px solid #00ffff #fffafa;
    font-style: italic;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
    width: 480px;
  }
  
  .bolding{
    font-weight: bold;
  }
  
  #facts{
    list-style: none;
  }
  
  #container{
    border: 3px solid #33E3FF;
    border-style: dotted;
    width:495px;
    padding: 10px;
    background-color: #1e7ecd;
    padding-top: 0.01px;

  }
  
  .animal-info{
    border: 5px solid #00ff00;
  }
  
  
  #summary{
    margin-left: 10px;
    margin-right: 10px;
  }

  div #card{
    border-radius: 1em;
    border: 5px solid #00ffff;
    border-style: groove dashed;
    

  }
  
  